.product-rating-section {
  border-bottom 1px solid #f4f4f4
  white-space nowrap
  overflow hidden

  .toggle-rating-panel {
    text-align center
    width calc(100% - 825px);

    p {
      color #4a4a4a
      margin-top 40px
      font-size 14px
    }

    .rating-toggle-btn {

      margin-top: 15px;

    }
  }
}