.base-input {
  input
  textarea
  {
    font-size sm
    color #15232e
    border-color #ced4da
    &:focus {
      border-color #1192f6
    }
  }
  label {
    color #757575
    font-size 14px
    font-weight 500
  }
  .form-control-feedback {
    font-size 12px
    font-weight 500
  }

}