.comments-list{
  .comment{

    .user-cmt-avatar{
      text-align center

      .user-name{
        color tikiblack
        text-align center
        font-size 14px
        text-overflow ellipsis
        overflow hidden
      }
    }
    white-space nowrap
    padding 15px 0
    .user-info
    .user-cmt-info{
      display inline-block
      vertical-align top
    }
    .user-info{
      width 200px
      .updated-time{
        font-size 12px
        color #999
        text-align center
      }

    }
    .user-cmt-info{
      width calc(100% - 200px)
      .cmt-info{
        padding-left 20px
        .ci-header{
          .cmt-title{
            color tikiblack
            margin-left 15px
            font-size 15px
          }
          .stars-outer{
            font-size 15px
          }
        }
      }
    }
  }
}

