.comments-list{
  .comment{
    .sub-cmt-input{
      margin-top 20px
      .rp-input{
        padding-bottom 0 !important
        textarea
        {
          font-size 14px
          margin-top 6px
          height 120px !important
        }
      }
      .sci-actions{
        text-align center
        margin-top 20px
        button{
          font-size 13px
          padding 5px 10px
          color #4a4a4a
          margin 8px
          width auto !important
          &:disabled{
            pointer-events none
          }
          &.cancel-btn{
            background-color #f1f1f1
            &:hover{
              background-color darken(#f1f1f1, 5%)
            }
          }
        }
      }
    }

    .user-cmt-avatar{
      text-align center

      .user-name{
        color tikiblack
        text-align center
        font-size 14px
        text-overflow ellipsis
        overflow hidden
      }
    }
    white-space nowrap
    padding 15px 0
    .user-info
    .user-cmt-info{
      display inline-block
      vertical-align top
      height 100%
    }
    .user-info{
      width 200px
      .updated-time{
        font-size 12px
        color #999
        text-align center
      }

    }
    .user-cmt-info{
      width calc(100% - 200px)
      padding-left 20px
      .sub-cmt-list{
        .toggle{
          text-align center
          font-size 13px
          color tikiblue
          margin-top 15px
          span{
            cursor pointer
            &:hover{
              color darken(tikiblue, 25%)
            }
          }
        }
        .item{

          clear both
          margin-top 22px
          .sub-cmt{

            .sub-ava{
              float left
              margin-right 10px
              width 45px
              height 45px
              img{
                max-height 46px
              }
              .fake-ava{
                width 45px
                height 45px
                line-height 45px
                font-size 18px
              }

            }
            color tikiblack
            .sub-name{
              font-weight bold
              font-size 14px


            }
            .sub-content{
              font-size 13px
              white-space pre-wrap
              margin-left 55px
            }
          }

        }

      }
      .user-cmt-actions{
        .reply-toggle{
          font-size 14px
          display inline-block
          cursor pointer
          color tikiblue
          &:hover{
            color darken(tikiblue, 20%)
          }
          &.active{
            text-decoration underline
          }
        }
      }
      .cmt-info{

        .ci-body{
          margin-top 10px
          font-size 14px
          .cmt-content{
            white-space pre-wrap
          }
          color tikiblack
          .cmt-images-display{
            margin-top 10px
            .img-block{
              margin-right 10px
              width 75px
              height 75px
              overflow hidden
              display inline-block
              position relative
              img{
                position absolute
                max-width 76px
                max-height 76px
                top 50%
                left 50%
                transform translate(-50%,-50%)
              }
            }
          }
        }
        .ci-header{
          line-height 20px
          .cmt-title{
            color tikiblack
            margin-left 15px
            font-size 16px
            font-weight bold
          }
          .stars-outer{
            font-size 15px
          }
        }

      }
    }
  }
}

