.m-checkbox{
  font-size 12px !important
  span{
    top 0 !important
  }
  & > input:checked ~ span{
    border-color tikiblue !important

  }
  & > input:checked ~ span:after{
    border-color tikiblue !important

  }
  .check-mark{
    background-color white !important
  }
}
