<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <style>@media only screen and (max-width: 600px) {
        table[class=body] .right-text-pad {
            padding-left: 10px !important
        }

        table[class=body] .left-text-pad {
            padding-right: 10px !important
        }
    }</style>
</head>
<body style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color:#222;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:19px;margin:0;min-width:100%;padding:0;text-align:left;width:100%!important">
<style>@media only screen and (max-width: 600px) {
    table[class=body] img {
        width: auto !important;
        height: auto !important
    }

    table[class=body] center {
        min-width: 0 !important
    }

    table[class=body] .container {
        width: 95% !important
    }

    table[class=body] .row {
        width: 100% !important;
        display: block !important
    }

    table[class=body] .wrapper {
        display: block !important;
        padding-right: 0 !important
    }

    table[class=body] .column, table[class=body] .columns {
        table-layout: fixed !important;
        float: none !important;
        width: 100% !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
        display: block !important
    }

    table[class=body] .wrapper.first .column, table[class=body] .wrapper.first .columns {
        display: table !important
    }

    table[class=body] table.column td, table[class=body] table.columns td {
        width: 100% !important
    }

    table[class=body] .column td.one, table[class=body] .columns td.one {
        width: 8.333333% !important
    }

    table[class=body] .column td.two, table[class=body] .columns td.two {
        width: 16.666666% !important
    }

    table[class=body] .column td.three, table[class=body] .columns td.three {
        width: 25% !important
    }

    table[class=body] .column td.four, table[class=body] .columns td.four {
        width: 33.333333% !important
    }

    table[class=body] .column td.five, table[class=body] .columns td.five {
        width: 41.666666% !important
    }

    table[class=body] .column td.six, table[class=body] .columns td.six {
        width: 50% !important
    }

    table[class=body] .column td.seven, table[class=body] .columns td.seven {
        width: 58.333333% !important
    }

    table[class=body] .column td.eight, table[class=body] .columns td.eight {
        width: 66.666666% !important
    }

    table[class=body] .column td.nine, table[class=body] .columns td.nine {
        width: 75% !important
    }

    table[class=body] .column td.ten, table[class=body] .columns td.ten {
        width: 83.333333% !important
    }

    table[class=body] .column td.eleven, table[class=body] .columns td.eleven {
        width: 91.666666% !important
    }

    table[class=body] .column td.twelve, table[class=body] .columns td.twelve {
        width: 100% !important
    }

    table[class=body] td.offset-by-eight, table[class=body] td.offset-by-eleven, table[class=body] td.offset-by-five, table[class=body] td.offset-by-four, table[class=body] td.offset-by-nine, table[class=body] td.offset-by-one, table[class=body] td.offset-by-seven, table[class=body] td.offset-by-six, table[class=body] td.offset-by-ten, table[class=body] td.offset-by-three, table[class=body] td.offset-by-two {
        padding-left: 0 !important
    }

    table[class=body] table.columns td.expander {
        width: 1px !important
    }

    table[class=body] .right-text-pad, table[class=body] .text-pad-right {
        padding-left: 10px !important
    }

    table[class=body] .left-text-pad, table[class=body] .text-pad-left {
        padding-right: 10px !important
    }

    table[class=body] .hide-for-small, table[class=body] .show-for-desktop {
        display: none !important
    }

    table[class=body] .hide-for-desktop, table[class=body] .show-for-small {
        display: inherit !important
    }
}</style>
<table class="body"
       style="border-collapse:collapse;border-spacing:0;color:#222;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;height:100%;line-height:19px;margin:0;padding:0;text-align:left;vertical-align:top;width:100%">
    <tbody>
    <tr style="padding:0;text-align:left;vertical-align:top">
        <td class="center" align="center" valign="top"
            style="-moz-hyphens:auto;-webkit-hyphens:auto;border-collapse:collapse!important;color:#222;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:19px;margin:0;padding:0;text-align:center;vertical-align:top;word-break:break-word">
            <center style="min-width:580px;width:100%">
                <table class="row header"
                       style="background:#999;border-collapse:collapse;border-spacing:0;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                    <tbody>
                    <tr style="padding:0;text-align:left;vertical-align:top">
                        <td class="center" align="center"
                            style="-moz-hyphens:auto;-webkit-hyphens:auto;border-collapse:collapse!important;color:#222;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:19px;margin:0;padding:0;text-align:center;vertical-align:top;word-break:break-word">
                            <center style="min-width:580px;width:100%">
                                <table class="container"
                                       style="border-collapse:collapse;border-spacing:0;margin:0 auto;padding:0;text-align:inherit;vertical-align:top;width:580px">
                                    <tbody>
                                    <tr style="padding:0;text-align:left;vertical-align:top">
                                        <td class="wrapper last"
                                            style="-moz-hyphens:auto;-webkit-hyphens:auto;border-collapse:collapse!important;color:#222;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:19px;margin:0;padding:10px 20px 0 0;padding-right:0;position:relative;text-align:left;vertical-align:top;word-break:break-word">
                                            <table class="twelve columns"
                                                   style="border-collapse:collapse;border-spacing:0;margin:0 auto;padding:0;text-align:left;vertical-align:top;width:580px">
                                                <tbody>
                                                <tr style="padding:0;text-align:left;vertical-align:top">
                                                    <td class="six sub-columns"
                                                        style="-moz-hyphens:auto;-webkit-hyphens:auto;border-collapse:collapse!important;color:#222;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:19px;margin:0;min-width:0;padding:0 0 10px;padding-right:10px;text-align:left;vertical-align:top;width:50%;word-break:break-word">
                                                        TAKA
                                                    </td>
                                                    <td class="six sub-columns last"
                                                        style="-moz-hyphens:auto;-webkit-hyphens:auto;border-collapse:collapse!important;color:#222;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:19px;margin:0;min-width:0;padding:0 0 10px;padding-right:0;text-align:right;vertical-align:middle;width:50%;word-break:break-word">
                                                    </td>
                                                    <td class="expander"
                                                        style="-moz-hyphens:auto;-webkit-hyphens:auto;border-collapse:collapse!important;color:#222;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:19px;margin:0;padding:0!important;text-align:left;vertical-align:top;visibility:hidden;width:0;word-break:break-word"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </center>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="container"
                       style="border-collapse:collapse;border-spacing:0;margin:0 auto;padding:0;text-align:inherit;vertical-align:top;width:580px">
                    <tbody>
                    <tr style="padding:0;text-align:left;vertical-align:top">
                        <td style="-moz-hyphens:auto;-webkit-hyphens:auto;border-collapse:collapse!important;color:#222;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:19px;margin:0;padding:0;text-align:left;vertical-align:top;word-break:break-word">
                            <table class="row"
                                   style="border-collapse:collapse;border-spacing:0;display:block;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                                <tbody>
                                <tr style="padding:0;text-align:left;vertical-align:top">
                                    <td class="wrapper last"
                                        style="-moz-hyphens:auto;-webkit-hyphens:auto;border-collapse:collapse!important;color:#222;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:19px;margin:0;padding:10px 20px 0 0;padding-right:0;position:relative;text-align:left;vertical-align:top;word-break:break-word">
                                        <table class="twelve columns"
                                               style="border-collapse:collapse;border-spacing:0;margin:0 auto;padding:0;text-align:left;vertical-align:top;width:580px">
                                            <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                <td style="-moz-hyphens:auto;-webkit-hyphens:auto;border-collapse:collapse!important;color:#222;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:19px;margin:0;padding:0 0 10px;text-align:left;vertical-align:top;word-break:break-word">
                                                    <h1 style="color:#222;font-family:Helvetica,Arial,sans-serif;font-size:40px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;word-break:normal">
                                                        Xin chào {{name}}</h1>
                                                    <p class="lead"
                                                       style="color:#222;font-family:Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;line-height:21px;margin:0;margin-bottom:10px;padding:0;text-align:left">
                                                        Cảm ơn đã đăng ký và sử dụng dịch vụ của TAKA</p>
                                                   </td>
                                                <td class="expander"
                                                    style="-moz-hyphens:auto;-webkit-hyphens:auto;border-collapse:collapse!important;color:#222;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:19px;margin:0;padding:0!important;text-align:left;vertical-align:top;visibility:hidden;width:0;word-break:break-word"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="row callout"
                                   style="border-collapse:collapse;border-spacing:0;display:block;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                                <tbody>
                                <tr style="padding:0;text-align:left;vertical-align:top">
                                    <td class="wrapper last"
                                        style="-moz-hyphens:auto;-webkit-hyphens:auto;border-collapse:collapse!important;color:#222;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:19px;margin:0;padding:10px 20px 0 0;padding-bottom:20px;padding-right:0;position:relative;text-align:left;vertical-align:top;word-break:break-word">
                                        <table class="twelve columns"
                                               style="border-collapse:collapse;border-spacing:0;margin:0 auto;padding:0;text-align:left;vertical-align:top;width:580px">
                                            <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                <td class="panel"
                                                    style="-moz-hyphens:auto;-webkit-hyphens:auto;background:#ECF8FF;border:1px solid #d9d9d9;border-collapse:collapse!important;border-color:#b9e5ff;color:#222;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:19px;margin:0;padding:10px!important;text-align:left;vertical-align:top;word-break:break-word">
                                                    <p style="color:#222;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:19px;margin:0;margin-bottom:10px;padding:0;text-align:left">
                                                        Bấm vào link sau để xác nhận tài khoản<a href="{{redirect}}"
                                                                                               style="color:#2ba6cb;text-decoration:none"> Bấm vào đây »</a></p></td>
                                                <td class="expander"
                                                    style="-moz-hyphens:auto;-webkit-hyphens:auto;border-collapse:collapse!important;color:#222;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:19px;margin:0;padding:0!important;text-align:left;vertical-align:top;visibility:hidden;width:0;word-break:break-word"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </center>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>