.user-view-col{
  .k-logo{
    width 70px
    height 70px
    img{
      width 70px
      height 70px
    }
  }
  .m-card-profile__name{
    font-size 20px !important
    letter-spacing 0.6px
    font-weight 550 !important
  }
  .m-card-profile__email{
    font-size 13px !important
  }
  .m-nav__item{
    &:hover{
      i
      span{
        color #428bca !important
      }
    }
    cursor pointer
    i{
      font-size 15px !important
    }
    span{
      font-size 13px !important
    }
  }
}