.icon-input{
  input{
    background-color white !important
    height auto !important
    font-size 15px
    border-color #ebedf2 !important
  }
  .m-input-icon__icon{
    i{
      font-size 16px !important
    }
  }
}