.forgot-password-panel{
  padding 20px 80px
  white-space pre-wrap
  .actions{
    height 20px
    line-height 20px
    margin-bottom 20px
    & > span{
      color tikiblue
      font-size 12px
      cursor pointer
      &:hover{
        color darken(tikiblue, 20%)
        i{
          color darken(tikiblue, 20%)
        }
      }
      i{
        font-size 14px
        margin-right 5px
      }
    }
  }
  .fp-title{
    color tikiblack
    font-size sm + 0.3rem
    font-weight 550
  }
  .instruction{
    color #444
    margin-top 20px
    font-size 13px
    margin-bottom 10px
  }
  .input-wrapper{
    position relative
    input{
      padding-right 35px
    }
    .check-loading{
      i{
        color #444
        font-size 18px
      }
      position absolute
      right 8px
      top 50%
      transform translateY(-50%)
    }
  }
}