.common-dropdown{
  box-shadow 0px 0px 15px 1px rgba(69, 65, 78, 0.2)
  width 200px
  background-color white
  position relative
  border-radius 3px
  .pointer{
    position absolute
    left 50%
    transform translateX(-50%) rotateZ(45deg)
    top -8px
    width 16px
    height 16px
    background-color white
  }
}