//checkout
.cart-col-1{
    padding: 0px 15px 0px 15px;
}

.cart-col-2{
    background-color: blue;
}

//Cart Empty
.cart-counting{
    color: #333;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 20px 0px 12px 0px;
    span{
        font-size: 14px;
    }
}

.empty-cart{
    text-align: center;
    background-color: #fff;
    padding: 0px 30px 30px;
    border-radius: 4px;
    color: black;
    font-size: 14px;
    .cart-icon{
        width:200px;
        height:200px;
        display: inline-block;
        margin: 30px;
        background-image: url("../assets/img/shopping-cart.png");
        background-size: 200px 200px;
        background-position: 0 0;
    }
    button{
        margin-top: 15px;
    }
}