
.approve-modal{
  //width 600px
  .form-control{
    height auto !important
  }





  .a-input{
    padding 0 20px !important
    input
    select
    {
      font-size 14px !important
      margin-bottom 5px
    }
    label{
      font-size 15px
      color
    }
  }
}