.product-avg-rating{
  width 350px
  border-right 1px solid #f7f7f7
  padding-bottom 20px
  & > p:first-of-type{
    font-size 17px
    color #444
    margin-top 26px
    text-align center
  }
  & > p:last-of-type{
    font-size 14px
    color #8f8f8f
    text-align center
  }
  .avg-rating{
    margin-top 20px
    line-height 45px
    font-size 48px
    text-align center
    font-weight bold
    color #fe302e
  }
}