.app-navbar{
  background-color tikiblue
  .main-actions{
    padding 16px 0
    .nav-section{
      display inline-block
      vertical-align middle
      &.app-brand{
        margin-right 25px
        .app-name{
          font-size lg
          font-family: 'Fredoka One', cursive;
          font-weight 550
          cursor pointer
        }
      }
    }
    .actions{
      .nav-box{
        display inline-block
      }
    }
  }

}