
.app-navbar-wrapper{
  z-index 3
  &.show{
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    background-color rgba(tikiblack, 60%)
  }
}
.app-navbar {
  background-color tikiblue
  .cate-toggle{
    height 40px
    cursor pointer
    font-size 14px
    color white
    padding 10px 0
    margin-bottom 10px
    position relative
    padding-left 40px
    display inline-block
    i{
      font-size 22px
      position absolute
      left 8px
      top 50%
      transform translateY(-50%)
    }
  }
  .main-actions {
    padding 16px 0

    .nav-section {
      display inline-block
      vertical-align middle

      &.app-brand {
        margin-right 30px

        .app-name {
          font-size lg
          font-family: 'Fredoka One', cursive;
          font-weight 550
          cursor pointer
        }
      }
    }

    .actions {
      float right
      .text-wrapper{
        white-space nowrap
        text-overflow ellipsis
        overflow hidden
      }
      .user-actions-toggle{
        max-width 170px

      }
      &::after {
        content ''
        clear both
      }

      .nav-box
      .cart-btn {
        display inline-block
      }

      .cart-btn {
        height 40px
        vertical-align middle
        line-height 40px
        position relative
        text-align center
        font-size sm - 0.3rem
        border-radius 4px
        color white
        padding-left 45px
        border 2px solid white
        cursor pointer
        padding-right 50px
        .cart-count{
          background-color tikiyellow
          color tikiblack
          border-radius 3px !important
          font-size sm - 0.4rem
          font-weight 550
          position absolute
          top 50%
          padding 0
          transform translateY(-50%)
          right 15px
        }
        i{
          position absolute
          left 15px
          top 50%
          transform translateY(-50%)
          font-size sm + 0.3rem
        }
      }

      .nav-box {
        height 38px
        position relative
        font-size sm - 0.3rem
        color white
        background-color tikiblue
        border-radius 4px
        padding-left 45px
        vertical-align middle
        line-height 38px
        margin-right 15px
        padding-right 15px
        cursor pointer
        transition background-color 0.1s ease

        &:hover {
          background-color darken(tikiblue, 20%)
        }

        i {
          position absolute
          left 15px
          top 50%
          transform translateY(-50%)
          font-size sm + 0.4rem
        }
      }
    }
  }

}
.temp-block{
  margin-top 124px
}