.m-switch.m-switch--icon {
  label {
    margin-bottom: 0
  }
  .switch-label {
    display: inline-block;
    line-height: 34px;
    margin-left: 5px;
    margin-bottom: 0
  }
  input:empty ~ span:after{
    content: ""
  }
}
