.data-table {
  thead {
    tr {
      th {
        color white
        font-weight 550
        background-color primary !important
      }
    }
  }
  tbody {
    tr {
      &:hover {
        background-color darken(white, 10%) !important
      }
      td {
        vertical-align middle
      }
      &:nth-of-type(odd) {
        background-color white
      }
      &:nth-of-type(even) {
        background-color darken(white, 5%)
      }
    }
  }
  tr {

    font-size 14px !important
    cursor pointer
  }
  .no-data {
    pointer-events none
  }
  & ~ .table-footer {
    &:after {
      content: ""
      clear both
      display block
    }

    & .table-pagination {
      float left
    }
    & .summary {
      margin-top 15px
      float right
    }

  }
}
