.resend-modal {
  white-space nowrap
  border-radius 4px
  overflow hidden
  background-color: #f8f8f8
  max-width 400px
  .modal-body{
    white-space normal
    text-align left
  }
  .loading-inline{
    i{
      color tikiblue !important
      font-size lg !important
    }

  }
}