.sub-category{
  width 200px
  display inline-block
  color #444
  margin-bottom 15px
  margin-left 15px
  .sc-label{
    font-size 14px
    font-weight bold
    margin-bottom 3px
    cursor pointer
    &:hover{
      color tikiblue
    }
  }
  .sub-sub-list{

    .sub-item{
      font-size 13px
      margin-bottom 3px
      cursor pointer
      &:hover{
        color tikiblue
      }
    }
  }
}