.rating-visualization{
  padding 15px 0 15px 65px
  width 475px
  border-right 1px solid #f7f7f7
  .rating-row{
    margin-bottom 2px
    & > span{
      font-size 15px
      line-height 15px
      display inline-block
      vertical-align middle
      color tikiblack
      i{
        font-size 15px
      }
    }
    .star-process{
      display inline-block
      margin-left 15px
      height 12px
      width 270px
      background-color #efefef
      vertical-align middle
      .current-value{
        min-width 0
        background-color #23b445

      }

    }
  }
}