.product-filter-bar{
  .panel{
    color tikiblack
    padding-bottom 10px
    .reset{
      margin-left 15px
      font-size 15px
      cursor pointer
      color danger !important
    }
    &:nth-child(n+2){
      border-top: 2px solid #f1f1f1
    }
    .panel-title{
      font-weight bold
      font-size 14px
      padding 16px 18px 8px
      text-transform uppercase
    }
    .panel-content{
      padding 16px 18px 8px
      padding-top 8px
      font-size 13px
      .parent-cate{
        font-weight bold
        cursor pointer
      }
      .filter-items{
        .item{
          margin-top 8px
          cursor pointer
          white-space pre-wrap
        }
        .active{
          font-weight bold

        }
        .count{
          color #787878 !important
        }
      }
      .sub-cates{
        padding-left 15px
      }
    }
  }
}