.k-logo{
  width 55px
  height 55px
  overflow hidden
  position relative
  border-radius 50%
  border 2px solid grey
  transition border-color 0.2s ease
  background-color white

  img{
    position absolute
    width 55px
    height 55px
    top 50%
    left 50%
    transform translate(-50%, -50%)
  }
}