.product-option-select{
  padding 15px 0
  border-bottom 1px solid #ececec
  .buyer-actions{
    margin-top 22px
    white-space pre-wrap
    .left-action
    .right-action
    {
      display inline-block
      vertical-align top
    }
    .right-action{
      margin-left 30px
      .add-to-fav{
        font-size 30px
        cursor pointer
        margin-left 20px
        vertical-align middle
        color grey
        display inline-block
        &.onAdding{
          opacity 0.6
          pointer-events none
        }
        &:hover{
          color #ff3945
        }
        &.fas{
          color #ff3945
          &:hover{
            color lighten(#ff3945, 20%)
          }
        }

      }
      .add-to-cart{
        text-align center
        padding 10px 30px
        display inline-block
        vertical-align middle
        color white
        background-color #ff3945
        font-size 15px
        border-radius 5px
        transition background-color 0.1s ease
        &:hover{
          background-color lighten( #ff3945, 25%)
        }
        i{
          font-size 18px
          margin-right 10px
        }
      }
    }
  }
  .option-select{
    white-space pre-wrap

    .p-option{
      text-align center
      color tikiblue
      background-color white
      border 1px solid tikiblue
      border-radius 4px
      padding 5px 14px
      cursor pointer
      margin-right 15px
      margin-bottom 10px
      transition all 0.1s ease
      display inline-block
      font-size 13px
      &:hover{
        background-color tikiblue
        color white
      }
      &.active{
        background-color tikiblue
        color white
        pointer-events none
      }
    }
    .ins{
      margin 0 0 5px
      font-size 14px
      color #8e8e8e
      .p-des{
        color tikiblack
        margin-left 5px
      }
    }
  }
}