.product-option-select{
  padding 15px 0
  border-bottom 1px solid #ececec
  .option-select{
    white-space pre-wrap
    .p-option{
      text-align center
      color tikiblue
      background-color white
      border 1px solid tikiblue
      border-radius 4px
      padding 5px 14px
      cursor pointer
      margin-right 15px
      margin-bottom 10px
      transition all 0.1s ease
      display inline-block
      font-size 13px
      &:hover{
        background-color tikiblue
        color white
      }
      &.active{
        background-color tikiblue
        color white
        pointer-events none
      }
    }
    .ins{
      margin 0 0 5px
      font-size 14px
      color #8e8e8e
      .p-des{
        color tikiblack
        margin-left 5px
      }
    }
  }
}