.birth-picker{
  .bp-select{
    width 120px
    display inline-block
    font-size sm - 0.3rem

    margin-right 20px
  }
  .error-notify{
    font-size tn
    margin-top 6px
  }
  &.isError{
    .bp-title{
      color #f4516c
    }
    .error-notify{
      color #f4516c
    }
  }
}