.index-banner{
  width 100%
  white-space nowrap
  background-color transparent
  margin-top 20px
  .categories-wrapper{
    width 245px
    display inline-block
    vertical-align top
  }
  .banner-wrapper{
    width calc(100% - 245px)
    display inline-block
    height 400px
    vertical-align top
  }
}