.k-select {
  select {
    font-size sm
    color #15232e
    cursor pointer
    border-color #ced4da
    &:focus {
      border-color #1192f6
    }
    option{
      cursor pointer
    }
  }
  label {
    color #757575
    font-size 14px
    font-weight 500
  }
  .form-control-feedback {
    font-size 12px
    font-weight 500
  }

}