.process{
  position relative
  background-color #FDDAC8
  height 18px
  overflow hidden
  border-radius 10px
  .current-value{
    min-width 2px
    height 100%
    max-width 100%
    background-color #FD6E23
  }
  .process-content{
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    color white
    font-size 12px
  }
}