.index-product-list {
  background-color white

  .products-wrapper {
    .loading-holder {
      min-height 300px
      position relative
    }
  }

  .product {
    padding 16px
    color tikiblack
    display inline-block
    vertical-align top

  }
  .products-row {
    white-space nowrap

    &.c5 {
      .product {
        width 20%
      }
    }


  }
}