.index-product-list {
  background-color white

  .products-wrapper {
    .loading-holder {
      min-height 300px
      position relative
    }
  }

  .product {
    padding 16px
    color tikiblack
    display inline-block
    vertical-align top
    cursor pointer
    &:hover{
      box-shadow 0 0 20px rgba(0,0,0,.1)
      z-index 1
    }
  }
  .products-row {
    white-space nowrap

    &.c5 {
      .product {
        width 20%
      }
    }


  }
}