.user-actions{
  margin-top 20px
  width 250px
  .actions-list{
    padding 10px 0

    .action{
      position relative
      .ua-count{
        font-size 12px
        width 20px
        height 20px
        line-height 15px
        display block
        color white
        background-color #ff3425
        border-radius 50%
        position absolute
        top 50%
        transform translateY(-50%)
        right 6px
        text-align center
      }
      &.sign-out-action{
        padding 5px 20px
        color danger
        font-size tn + 0.2rem

      }
      font-size tn + 0.1rem
      color tikitext
      padding 0 20px
      cursor pointer !important
      font-weight 550
      line-height 32px
      &:hover{
        background-color darken(white, 6%)
      }
    }
  }
}