.search-route{
  white-space nowrap
  font-size 14px
  min-height 300px
  background-color white
  position relative
  color #333
  padding 0
  .empty-notify{
    text-align center
    font-size 30px
    font-weight bold
    padding-top 100px
  }
  & > .loading-inline{
    i{
      font-size 50px !important
      color tikiblue
    }
  }
}