.route-title-layout{
  .route-header{
    padding 30px 30px 0 30px
    .route-title{
      display inline-block
      color #3f4047
      margin 0 15px 0 0
      font-weight 550
      padding 7px 25px 7px 0
      font-size md - 0.2rem
    }
  }
  .route-body{
    padding 30px 30px 0 30px
  }
}