.cart-change-popup{
  position fixed
  width 400px
  box-shadow 0px 0px 15px 1px rgba(69, 65, 78, 0.2)
  padding 15px
  border-radius 0 4px 4px 0
  border-left 3px solid tikiblue
  background-color white
  font-size 14px
  z-index 1
  color tikiblack
  right 0
  bottom 0px
}
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}