.products-route{
    white-space nowrap
    font-size 14px
    color #333
  .left-panel{
    width 240px
    vertical-align top
    display inline-block
    border-radius 4px 0 0 4px
    background-color white
  }
  .right-panel{
    width calc(100% - 240px)
    vertical-align top
    display inline-block
    border-radius 4px 0 0 4px
  }
}