.image-display{
  display inline-block
  width calc(100% - 75px)
  vertical-align top
  .id-suggest{
    color tikiblack
    font-size 12px
    margin-top 20px
    text-align center
    i{
      font-size 14px
    }
  }
}