
.exam-date-supervisor-modal{
  .form-control{
    height auto !important
  }





  .eds-input{
    padding 0 20px !important
    input
    select
    {
      font-size 14px !important
      margin-bottom 5px
    }
    label{
      font-size 15px
      color
    }
  }
}