.product-detail-fields{
  width 100%
  white-space nowrap
  margin-top 50px
  .section-header{
    padding 10px 0
    margin-bottom 5px
    font-size 18px
    color tikiblack
  }
  .section-body{
    background-color white
    border-radius 3px
    min-height 250px
    padding 20px
    table{
      border 1px solid #ddd
      width 100%
      margin-bottom  20px
      border-collapse collapse
      border-spacing 0
      color tikiblack
      font-size 13px

      td{
        border 1px solid #ddd
        padding 10px 15px
        white-space pre-wrap
        &.describe-key{
          color #4f4f4f
          background-color #efefef
          font-weight bold
        }
      }
    }
  }
}