
.visited-section {
  width 100%
  white-space nowrap
  margin-top 50px


  .unseen-notify{
    padding-top 100px
    color tikiblack
    text-align center
    font-size 35px

  }
  .vs-footer{
    text-align center

  }
  .section-header{
    padding 10px 0
    margin-bottom 5px
    font-size 18px
    color tikiblack
  }
  .section-body{
    background-color white
    border-radius 3px
    min-height 250px
  }
}