.visited-section {
  width 100%
  white-space nowrap
  margin-top 50px
  .vs-footer{
    text-align center

  }
  .section-header{
    padding 10px 0
    margin-bottom 5px
    font-size 18px
    color tikiblack
  }
  .section-body{
    background-color white
    border-radius 3px
  }
}