.deal-section{
  width 100%
  white-space nowrap
  margin-top 50px
  .ds-header{
    padding 15px 15px 15px 74px
    position relative
    border-bottom 1px solid #f0f0f0
    .main-title{
      color rgb(255, 61, 0)
      font-weight bold
      font-size 18px

    }
    .sub{
      font-size 13px
      color tikiblack
    }
    .ds-icon{
      position absolute
      left 20px
      width 38px
      height 38px
      border-radius 50%
      background-color rgb(255, 61, 0)
      overflow hidden
      top 50%
      transform translateY(-50%)
      & > div{
        position relative
        width 100%
        height 100%
      }
      i{
        font-size 20px
        color white
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
      }
    }
  }
}