.product-main-panel{
  //overflow hidden
  white-space nowrap
  background-color white
  border-radius 0 0 4px 4px
  height auto

  .p-deal{
    .p-deal-process{
      margin-top 15px
      position relative
      span{
        position absolute
        color #ff3b27
        left 0
        top 50%
        transform translateY(-50%)
      }
      padding-left 100px
      .p-left{
        background-color #f1f1f1
        height 12px
        .current-value{
          background-color #FF3B27
        }
      }
    }
    margin-top 20px
    color tikiblack
    font-size 13px
    .countdown{
      position relative
      padding-left 35px
    }

    .cd-val{
      font-size 18px
      font-weight bold
    }
    i{
      font-size 20px
      position absolute
      left 0
      top 50%
      transform translateY(-50%)
    }
  }
  .scroll-to-comment{
    color #007ff0
    font-size 13px
    margin-left 5px
    cursor pointer
    &:hover{
      color darken(#007ff0, 20%)
    }

  }
  .main-info{
    white-space nowrap
    .info-section{
      width 430px
      vertical-align top
      padding 20px 24px
      padding-right 18px
      padding-bottom 25px
      display inline-block
      .promotion-notify{
        color tikiblack
        margin-top 12px
        .left-info
        .right-info{
          display inline-block
          vertical-align top
        }
        .left-info{
          text-align center
          font-size 13px
          padding-right 12px
          border-right 1px solid #ccc
          .promotion-badge{
            background-color #002e6e
            color white
            padding 0 5px !important
            border-radius 2px
            text-align center
            font-size 11px
          }
        }
        .right-info{
          padding-left 12px
          .value{
            font-size 15px
            font-weight bold
          }
        }
      }
    }
    .provider-section{
      width 202px
      display inline-block
    }
  }
  .description-section{
    padding 15px 0
    border-bottom 1px solid #ececec
    .description{
      color tikiblack
      font-size 14px
      margin-bottom 7px
    }
    .product-feature{
      padding 0 0 0 20px !important
      margin 0 0 5px
      font-size 13px
      position relative
      color tikiblack
      &::after{
        content: ""
        width 5px
        height 5px
        border-radius 50%
        background-color #6d6d6d
        left 0
        position absolute
        top 7px
      }
    }
  }
  .pricing-section{
    font-size 13px
    color #9b9b9b
    border-bottom 1px solid #ececec
    padding-bottom 15px
    .value{
      color #ff3425
    }
    .main-price{
      .value{
        font-size 19px
        font-weight 600
      }
    }
  }
  .brand-name{
    color #333
    font-size 13px
    & > span{
      color #007ff0
      cursor pointer
      &:hover{
        color darken(#007ff0, 20%)
      }
    }
  }
  .product-left-panel{
    width 527px
    display inline-block
    padding 24px 24px 20px 20px

    vertical-align top
  }
  .product-right-panel{
    border-left 2px solid #f7f7f7
    vertical-align top
    width calc(100% - 527px)
    display inline-block
    .header-info{
      padding 16px 24px 5px
      border-bottom 1px solid #ececec
    }
    .product-name{
      font-size 24px
      color #333
      font-weight 300
      line-height 30px
    }
  }
}