.login-panel {
  .button-actions{
    margin-top 20px
  }
  .forgot-password {
    margin-top 20px
    font-size tn
    text-align left

    color tikiblack
    font-weight 500 !important

    span {

      color tikiblue
      cursor pointer

      &:hover {
        color darken(tikiblue, 20%)
        text-decoration underline
      }
    }
  }
}