
.stars-outer {
  display: inline-block;
  position: relative;
  font-family: 'Font Awesome\ 5 Free';
  font-size 17px
  cursor pointer
  font-weight 900
  i{
    position absolute
    top 50%
    transform translateY(-50%)
    right -30px
    font-size 15px
  }
  &.editable{
    cursor pointer
  }
  & > span::before {
    content: "\f005";
    color #b8b8b8
  }
  .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    pointer-events none
    overflow: hidden;
    width: 0;

    & > span::before {
      content: "\f005";
      color: #f8ce0b;

    }
  }

}