.authen-layout{
  min-width 100vh
  position relative
  overflow hidden
  .authen-footer{
    background-color white
    margin-top 60px
    padding 20px
    color tikiblack
    p:first-child{
      font-size 12px
      font-weight bold
    }
    p:last-child{
      font-size 11px
    }
  }
}
