.authen-layout{
  //min-width 100vw
  position relative
  overflow hidden
  padding-bottom: 150px
  min-height 100vh
  .authen-footer{
    background-color white
    margin-top 60px
    padding 20px
    color tikiblack
    position absolute
    bottom 0
    left 0
    width 100%
    p:first-child{
      font-size 12px
      font-weight bold
    }
    p:last-child{
      font-size 11px
    }
  }
}
