dark=#1a1a1a
favor=orangered
sky=skyblue
bitgrey=#D5D5D5
primary=#428bca
grey=#e2e0e0
danger=#d9534f
success=#5cb85c
deepgrey=#6b6b6b
deepblack=#1d1d1d
fb=#4267b2
gg=#df4a32
tikiblue=#189eff
tikitext=#787878
tikiblack=#242424
tikiyellow=#fdd835
