.multiple-steps-tabs{
  .m-wizard__steps{
    .m-wizard__step{
      color #9699a2
      cursor pointer
      font-size 18px

      .m-wizard__step-number{
        position relative
        display block
        .m-wizard__step-icon{
          position absolute
          right 10px
          top 50%
          @media (max-width 1200px){
            right 102% !important
          }
          i{
            font-size 17px !important
          }
          transform translateY(-50%)
        }
      }

      &.m-wizard__step--current{
        color #34bfa3

      }
    }
  }
  .an-actions{
    button{
      font-size 13px
      margin-left 10px
      padding 10px 20px
      position relative
    }
  }

}
