.zoom-image-container{
  //position relative
  text-align right
  .img-container{
    position relative
    width 380px
    display inline-block
    img{
      width 100%
    }
  }
  .img-zooming-overlay{
    position absolute
    background-repeat:no-repeat;
    left 516px
    top 0
    border 1px solid tikiblue
    display none
    width 450px
    height 450px
    z-index 1
  }

}
