.upload-img-display {
  margin-top 25px
  .upload-img-block {
    display inline-block
    width 95px
    height 95px
    position relative

    margin-right 15px

    .img-container {
      width 100%
      height 100%
      position relative
      border-radius 7px
      overflow hidden

      img {
        position absolute

        top 50%
        left 50%
        transform translate(-50%, -50%)
        max-height 100px
      }
    }

    .rm-img {
      position absolute
      top -5px
      right -5px
      color #808080
      font-size 15px
      cursor pointer
      &:hover{
        color lighten( #808080, 25%)
      }
    }
  }
}