.user-actions-modal{
  white-space nowrap
  background-color: #f8f8f8
  height 600px
  .m-portlet__foot{
    border-top none !important
  }
  .side{
    display inline-block
    vertical-align top
    height 100%

  }
  .left-side{
    width 360px
    padding 40px 20px
    background-color white

  }
  .right-side{
    width 500px
    margin 20px
  }

}